.header {
    background: linear-gradient(to right, #3877ff, #5f84ed);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.header .flex {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.header nav {
    justify-content: center;
    gap: 100px; /* Original gap */
    color: rgb(255, 255, 255) !important;
    font-size: 17px;
}

.header nav a {
    text-decoration: none;
    color: rgb(255, 255, 255) !important;
}

/* Mobile Menu */
.header .mobile-menu {
    display: none;
}

.header .mobile-menu.active {
    display: flex;
    flex-direction: column;
    background-color: #3877ff; /* Match header background */
    position: absolute;
    top: 60px; /* Below the header */
    right: 0;
    width: 100%; /* Full width */
    padding: 10px 0; /* Padding for the menu */
    z-index: 1000; /* Ensure it appears above other content */
}

/* Responsive Design */
@media (max-width: 768px) {
    .header nav {
        display: none;
    }

    .header .mobile-menu {
        display: flex;
    }

    .header .mobile-menu.active {
        display: flex;
    }
}
